<div class="card col-lg">

    <div class="card-header person">
        object
    </div>
    <div class="col-lg-12 my-3">
        <div class="card">
            <div class="card-header bg-success text-dark">
                <h2>{{ object.title }}</h2>
            </div>
            <img class="card-img-top" src="{{object.image.url}}" alt="{{object.title}}">
        </div>
        <p>
            <a href="/photo/add" class="btn btn-success m-5">Add New Photo</a>
            <a href="/photo/" class="btn btn-success m-5">Back to Photos</a>
        </p>
    </div>

</div>