<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand text-light" href="/">Superhero News</a>

        <ul class="navbar-nav text-light ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'Hero_list' %}">Heroes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'article_list' %}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'photo_list' %}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'message_list' %}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'photo_carousel' %}">Photo Carousel</a>
            </li>

            {% if user.is_authenticated %}


            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'Hero_add' %}">Add Hero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'article_add' %}">Write Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'photo_add' %}">Upload Photo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'message_add' %}">Create a message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light" href="{% url 'logout' %}">Log out</a>
            </li>
            <li class="nav-item">
                <p class="nav-link text-light">Hello {{ user.username }}!</p>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'login' %}">Log In</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}

        </ul>

    </div>

</nav>