<div class="card col-lg">

    <div class="card-header person">
        object
    </div>
    <div class="col-lg-12 my-3">
        <div class="card">
            <div class="card-header bg-success text-dark">
                <h2>{{ object.name }}</h2>
            </div>
            <img class="card-img-top" src="{{object.image.image.url}}" alt="{{object.name}}">
            <div class="card-body text-dark p-5">
                <p>{{ object.alias }}</p>
                <p>{{ object.strength }}</p>
                <p>{{ object.weakness }}</p>
                <p>{{ object.description }}</p>
            </div>


        </div>
        <p>
            <a href="/Hero/add" class="btn btn-success m-5">Add New Hero</a>
            <a href="/Hero/" class="btn btn-success m-5">Back to Heroes</a>
        </p>
    </div>

</div>