{% extends 'theme.html' %}

{% block content %}

<div class="container">
    <div class="row">

        {% for hero in object_list %}

        <div class="card col-4 m-5 p-5  bg-light text-dark ">

            <p>
                <a href=" {{hero.pk}} "><img src="{{ hero.image }}" height="200" width="200"></a>

                <b>{{ hero.name }}</b>
            </p>

        </div>

        {% endfor %}

    </div>

    <div class="bg-dark text-light">
        <a href="/admin/" class="btn bg-success text-light m-5">Admin Views</a>
    </div>
</div>




{% endblock content %}