<div class="card col-lg">

    <div class="card-header person">
        Hero
    </div>
    <div class="card-body">


        <table class="table">
            <tr>
                <td>Title</td>
                <td><a href="/blog/{{ Hero.pk }}/">{{ object.name }}</a></td>
            </tr>
            <tr>
                <td>Body</td>
                <td>{{ object.description }}</td>
            </tr>
        </table>

        <p>
            <a href="/Hero/add" class="btn btn-success m-5">Add New Hero</a>
        </p>
    </div>

</div>